/** RESET **/

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/** Header **/
/* Navbar */

#navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

#navbar a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

#navbar #signinbutton {
    background-color: #0099ff;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
}

/** Main **/
/* Main Content */

#maincontent {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 200px;
}

#logo {
    width: 300px;
    margin: auto;
}

/* Search Form */

#search {
    margin: 25px;
}

#searchbar {
    width: 500px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 30px;
}

.buttons {
    margin: 20px;
}

button[type=submit] {
    background-color: lightgray;
    border: 0px;
    padding: 5px 10px 5px 10px;
    margin: 0 4px 0 4px;
}

/** Footer **/

footer {
    background-color: lightgray;
}

hr {
    color: lightgray;
}

/* Country */

/* Footer Navbar **/

#navbar_footer ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}