/** RESET **/

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: "arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/** Header **/
/* Navbar */

#navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

#navbar a {
    text-decoration: none;
    margin-right: 15px;
    color: rgba(0,0,0,0.87);
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar #signinbutton {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
}

#navbar #signinbutton:hover {
    text-decoration: none;
}

/** Main **/

main {
    
}

/* Main Content */

#maincontent {
    background-color: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}

#maincontent a {
    text-decoration: none;
}

#maincontent a:hover {
    text-decoration: underline;
}

#logo {
    width: 300px;
    margin: auto;
}

/* Search Form */

#search {
    margin: 25px;
}

#searchbar {
    width: 500px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.20);
    border-radius: 30px;
}

.buttons {
    margin: 30px;
}

button[type=submit] {
    background-color: #f8f9fa;
    border: 0px;
    padding: 8px 15px 8px 15px;
    margin: 0 4px 0 4px;
}

/** Footer **/

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: rgba(0,0,0,.54)
}

hr {
    color: rgba(0,0,0,.20);
}

/* Country */

#country {
    margin-left: 20px;
}

/* Footer Navbar **/

#navbar_footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar_footer_section {
    display: flex;
    margin: 10px;
}

.navbar_footer_section li {
    padding: 5px;
}

#navbar_footer a {
    text-decoration: none;
    color: inherit;
}

#navbar_footer a:hover {
    text-decoration: underline;
}